.user-cards-container{
    height: 100%;
    width: 100%;
    max-height: auto;
    background-image: url('../../../public/User World 3.jpg');
    background-size: cover;
    background-attachment: fixed;
}
#go-back{
    height: 9vh;
    width: 9vh;
    margin-right: 90%;
    margin-bottom: 40%;
    position: absolute;
}
#go-back img{
    height: 9vh;
    width: 9vh;
    border-radius: 100%;
    position: absolute;
}
.first-card-div,.cards{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#first-card-h2,#cards-h2{
    height: auto;
    width: auto;
    background: transparent;
}
.card-form{
    height: auto;
    width: 60%;
    background-color: rgb(44, 41, 41);
    padding: 3%;
    border-radius: 20px;
    margin-top: 5%;
}
form{
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
}
.card-form input{
    height: auto;
    width: 70%;
    font-size: 2.7vh;
    padding: 0.7vh;
    background-color: rgba(0, 0, 0, 0.527);
    border: 1px solid gray;
    border-radius: 10px;
    color: white;
    padding-left: 2%;
    margin-bottom: 2%;
}
.card-form label{
    height: auto;
    width: auto;
    font-size: 3.4vh;
    color: white;
}
.card-input{
    display: flex;
    flex-direction: column;
}
.decision{
    margin-top: 10%;
    margin-left: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#number-input{
    width: 80%;
}
#name-input{
    padding: 1%;
    width: 70%;
}
#card-name-input{
    grid-column: 1/-1;
}
#date-input,#cvc-input{
    width: 30%;
}
.decision input[type="submit"]{
    margin-right: 4%;
    background-color: green;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
}
.decision input[type="button"]{
    margin-right: 4%;
    background-color: red;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
}
.decision input[type="submit"]:hover{
    color: green;
    background-color: white;
    border: 2px solid green;
    transition: 0.5s;
}
.decision input[type="button"]:hover{
    color: red;
    background-color: white;
    border: 2px solid red;
    transition: 0.5s;
}
#add-card{
    height: 80px;
    width: 20%;
    color: white;
    background-color: blue;
    font-size: 2.5vh;
    border-radius: 25px;
    margin-top: 5%;
    box-shadow: 0vh 0vh 1vh 0.1vh white;
    cursor: pointer;
}
#add-card:hover{
    background-color: white;
    color: blue;
    transition: 0.5s;
}