.currency-input{
  position: relative;
  height: auto;
  width: 100%;
}
.currency-input .react-autosuggest__container {
    position: relative;
    height: auto;
    width: 100%;
}

.currency-input .react-autosuggest__input {
  width: 300px;
  height: 50px;
  padding-left: 2%;
  font-family: 'Arial', sans-serif;
  font-weight: 300;
  font-size: 20px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.currency-input .react-autosuggest__suggestions-container {
  display: none;
  position: absolute;
  width: 280px;
  border: 1px solid #aaa;
  background-color: rgb(13, 21, 29);
  font-family: 'Arial', sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-radius: 4px;
  z-index: 2;
}

.currency-input .react-autosuggest__suggestions-container--open {
  display: block;
  height: 200px;
  overflow-y: auto;
}

.currency-input .react-autosuggest__suggestions-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.currency-input .react-autosuggest__suggestion {
  height: auto;
  cursor: pointer;
  padding: 10px 20px;
}

.currency-input .react-autosuggest__suggestion img{
  height: 40px;
  width: 40px;
}

.currency-input .react-autosuggest__suggestion--highlighted {
  background-color: #8c8dd4;
}

.currency-input .suggestion-content {
  display: flex;
  align-items: center;
}

.currency-input .suggestion-flag {
  margin-right: 10px;  /* Adjust the spacing as needed */
}

.currency-input .suggestion-name {
  display: inline-block;
}