.user-page{
    height: 100%;background-image: url('../../../public/User World 3.jpg');
    background-size: cover;
    width: 100%;
    overflow-y: auto;
}
.user-container{
    height: auto;
    width: 100%;
    
}
.user-overlay {
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    
}
.user-actions{
    height: 13vh;
    width: 60%;
    background-color: rgba(2, 3, 22, 0.884);
    border-radius: 100px;
    box-shadow: 0 0 2vh 0 white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
}
.user-actions button{
    height: 50%;
    width: auto;
    font-size: 2vh;
    padding: 1vh;
    border-radius: 10vh;
    cursor: pointer;
    color: white;
    border: 0.4vh solid white;
}
.wallets{
    height: auto;
    width: auto;
    margin-top: 5%;
    display: grid;
    grid-template-columns: auto auto auto;
}
#add-wallet-button{background-color: rgb(3, 95, 3);}
#convert-currency-button, #money-transfer-button{background-color: rgb(6, 104, 185);}
#delete-wallet-button,#remove-wallet-submit{background-color: rgb(116, 8, 8);}

#add-wallet-button:hover,#convert-currency-button:hover, #money-transfer-button:hover,#delete-wallet-button:hover{background-color: white;color: black;border: 0.4vh solid black;transition: 0.5s;}
#add-wallet-button:active,#convert-currency-button:active, #money-transfer-button:active,#delete-wallet-button:active{background-color: black;color: white;border: 0.4vh solid black;transition: 0.2s;}

.add-wallet-div,.remove-wallet-div,.deposit-div,.withdrawal-div,.transfer-div,.convert-div{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.801);
    padding-bottom: 25%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
}
.wallet-form,.deposit-form,.withdrawal-form,.transfer-form,.convert-form{
    height: 70%;
    width: 30%;
    color: white;
    background-color: rgb(34, 53, 73);
    display: flex;
    border-radius: 20px;
    border: 0.5vh solid white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#close-button{
    height: 6vh;
    width: 6vh;
    margin-left: 33%;
    background-color: transparent;
    border-radius: 100px;
    cursor: pointer;
}
#add-wallet-h3{
    height: auto;
    width: auto;
    font-size: 5vh;
    margin-bottom: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.wallet-inputs{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
#card-required-h4{
    height: auto;
    width: auto;
    font-size: 2.8vh;
    margin-top: 5%;
    text-decoration: underline;
}
#card-required-link{
    width: auto;
    height: auto;
    font-size: 4vh;
    background-color: rgb(8, 133, 216);
    color: rgb(255, 235, 235);
    padding: 4% 4% 4% 16%;
    text-decoration: none;
    border-radius: 100px;
    margin-top: 5%;

}
.card-select{
    height: 25vh;
    width: auto;
}
.wallet-form input[type="submit"],.withdrawal-form input[type="submit"],.deposit-form input[type="submit"],.transfer-form input[type="submit"],.convert-form input[type="submit"]{
    height: auto;
    width: auto;
    background-color: rgb(3, 95, 3);
    border-radius: 100px;
    padding: 1vh;
    font-size: 3vh;    
    margin-top: 5%;
}
.convert-inputs{
    margin-bottom: 5%;
}
.wallet-form select,.wallet-form input,.convert-form select,.convert-form input{
    height: 50px;
    width: auto;
    background-color: rgb(13, 21, 29);
    color: white;
    font-size: 2vh;
    border-radius: 4px;
}
.wallet-form label{
    margin-top: 5%;
    margin-bottom: 1%;
    font-size: 3vh;
}
#new-currency-h3{
    height: auto;
    width: auto;
    font-size: 7vh;
    padding: 2vh;
    border-radius: 100%;
    background-color: rgb(13, 21, 29);
}
#return-investiment-p{
    max-width: 90%;
    margin-top: 10%;
    font-size: 2vh;
}
.bank-ops-h3{
    height: auto;
    width: auto;
    font-size: 5vh;
    margin-bottom: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.bank-inputs{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}